<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeepPatella</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="banner">
        <h1>DeepPatella</h1>
        <p>Automatic quantification of patellar tendon stiffness</p>
    </div>
    <menu>
        <li><a href="{{ url_for('home') }}">Configurations & Visualizations</a></li>
        <li><a href="{{ url_for('baseline_calculation') }}">Baseline Calculation</a></li>
        <li><a href="{{ url_for('stiffness_calculation') }}">Tendon Stiffness Calculation</a></li>
    </menu>   
    <div class="main">
        <div class="col_left">
            <h2>Configurations</h2>
            <div class="video_upload">
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <label for="video" class="custom-file-upload">📁 Select Video</label>
                    <input type="file" id="video" name="video" accept="video/*" style="display: None;">
                    <span id="file-name" class="file-name"></span>
                    <br><br>
                    <input type="submit" id="upload-button" value="⬆️ Load Video" style="display: none;">
                </form>
                {% if message %}
                    <p class="upload-message", id="upload-message">{{ message }}</p>
                {% endif %}
            </div>
        <div class="inference">
            <div class="button-container">
                <form id='run-inference-form' action="/run_inference" method="POST">
                    <input type="submit" id="start-inference-button" value="▶️ Start Inference">
                </form>
                <form id='stop-inference-form' action="/stop_inference" method="POST">
                    <input type="submit" id="stop-inference-button" value="🛑 Stop Inference">
                </form>
            </div>
            {% if inference_message %}
                <p class="upload-success">{{ inference_message }}</p>
            {% endif %}
            <div class="progress-bar">
                <div id="progress-bar-fill">0%</div>
            </div>
            <div class="progress-info">
                <div id="progress-time"></div>
                <select id="progress-dropdown">
                    <option value="" id="progress-option">Show Progress Details</option>
                </select>
                    
                <div id="progress-text"></div>
            </div>
        </div>
        </div>
        <div class="col_right">
            <h2>Visualizations</h2>
            <div class="frames_container" id="frames-container">
                <p id="waiting-message">Video will be displayed here once the inference is finished</p>
                <img id="frame" style="display: none;" width="512" />
                <input type="range" id="frameSlider" min="0" value="0" step="1" oninput="sliderChanged()" />
                <div class="video-btns">
                    <button onclick="playFrames()"  id="play-btn">▶️ Play</button>
                    <button onclick="pauseFrames()" id="pause-btn">⏸️ Pause</button>
                </div>
            </div>
        </div>
    </div>  
    <p id="progress-info"></p>

<script>
let inferenceRunning = false;

    function toggleButton() {
        const runButton = document.getElementById('start_inference_button')
        const stopButton = document.getElementById('stop_inference_button')

        if (inferenceRunning) {
            runButton.disabled = true
            stopButton.disabled = false
        }
        else {
            runButton.disabled = false
            stopButton.disabled = true
        }
    }

    function pollProgress() {
        console.log("Polling...");
        fetch('/progress')
            .then(response => response.json())
            .then(data => {
                const progressBar = document.getElementById('progress-bar-fill');
                const progressMessage = document.getElementById('progress-message');
                const progressText = document.getElementById('progress-text');
                const progressTime = document.getElementById('progress-time');
                const progressDropdown = document.getElementById('progress-dropdown');
    
                // Actualiza la barra de progreso
                progressBar.style.width = data.percent + '%';
                progressBar.textContent = data.percent + '%';
    
                // Actualiza el tiempo transcurrido
                if (!isNaN(data.elapsed_time)) {
                    const minutes = Math.floor(data.elapsed_time / 60);
                    const seconds = data.elapsed_time % 60;
                    progressTime.innerText = `⏱️ Elapsed Time: ${minutes}m ${seconds}s`;
                } else {
                    progressTime.innerText = ""; // En caso de que el tiempo sea inválido
                }
                
                // Muestra el mensaje actual
                progressDropdown.innerHTML = '';

                // Agregar la opción predeterminada como placeholder, no seleccionable
                const defaultOption = document.createElement('option');
                defaultOption.textContent = "Show Progress Details";
                defaultOption.value = "";
                defaultOption.disabled = true;
                defaultOption.selected = true;
                defaultOption.hidden = true;
                progressDropdown.appendChild(defaultOption);

                // Agregar la nueva opción con el mensaje
                const option = document.createElement('option');
                option.textContent = data.message;
                option.value = data.message;
                progressDropdown.appendChild(option);
    
                // Si el progreso está en curso, sigue actualizando cada 1 segundo
                if (data.status === 'running') {
                    setTimeout(pollProgress, 1000);
                }

                else if (data.status === 'stopped') {
                    inferenceRunning = false;
                    toggleButton();
                    alert(data.message)
                }

                else if (data.status === 'done') {
                    inferenceRunning = false;
                    toggleButton();
                    alert(data.message)
                }
            })
            .catch(error => console.error('Error en la solicitud de progreso:', error));
    }

    function startInference() {
        fetch('/run_inference', {method: 'POST'})
        .then(response => {
            inferenceRunning = true;
            toggleButton();
        })
        .catch(error => console.error('Error starting inference', error))
    }

    function stopInference() {    
    fetch('/stop_inference', { method: 'POST' })
        .then(response => {
            inferenceRunning = false;
            toggleButton();

            // Reseteamos el tiempo de progreso
            const progressTime = document.getElementById('progress-time');
            if (progressTime) {
                progressTime.innerText = "";  // Reseteamos el tiempo mostrado
            }

            // Reseteamos la barra de progreso
            const progressBar = document.getElementById('progress-bar-fill');
            if (progressBar) {
                // Aseguramos que no haya transiciones activas en este momento
                progressBar.style.transition = 'none';  // Elimina cualquier transición

                // Reiniciamos la barra de progreso
                progressBar.style.width = '0%';  // Reiniciamos el ancho de la barra
                progressBar.textContent = '0%';  // Reiniciamos el texto de la barra

                // Restauramos la transición después de un pequeño retraso para la siguiente actualización
                setTimeout(() => {
                    progressBar.style.transition = '';  // Restauramos la transición
                }, 100);
            }
        })
        .catch(error => console.error('Error stopping inference:', error));
}

    document.querySelector('form[action="/run_inference"]').addEventListener('submit', function(event) {
        event.preventDefault();
        console.log("Formulario enviado...");
        fetch('/run_inference', {
            method: 'POST',
        })
        .then(response => response.text())  // Espera la respuesta del servidor (la página renderizada)
        .then(data => {
            console.log("Respuesta recibida, comenzando polling...");
            // Iniciar el polling para actualizar los logs
            setInterval(pollProgress, 1000);
        })
        .catch(error => console.error('Error en la solicitud de inferencia:', error));
    });

    document.addEventListener('DOMContentLoaded', () => {
        toggleButton();
        document.getElementById('stop_inference_button').addEventListener('click', function (event) {
        event.preventDefault();
        stopInference();
    });
});
    
</script>
<script>
    // Obtain filename from the video selection to display it on UI
    const fileInput = document.getElementById('video');
    const fileNameSpan = document.getElementById('file-name');
    const uploadButton = document.getElementById('upload-button');
    const uploadMessage = document.getElementById('upload-message')
    
    fileInput.addEventListener('change', function () {
        if (this.files.length > 0) {
            fileNameSpan.textContent = this.files[0].name;
            uploadButton.style.display = 'inline-block';
    
            if (uploadMessage) {
                uploadMessage.style.display = 'none'
            }
            
        } else {
            fileNameSpan.textContent = '';
            uploadButton.style.display = 'none'
        }
    });
</script>
<script>
    let pollingInterval = setInterval(checkFrames, 1000);
    let currentFrameIndex = 0;
    let frames = [];
    let frameInterval = null;

    function checkFrames() {
        fetch('/check_frames')
            .then(response => response.json())
            .then(data => {
                if (data.frames_available) {
                    clearInterval(pollingInterval);
                    document.getElementById('waiting-message').style.display = 'none';
                    loadFrames();
                } else {
                    document.getElementById('waiting-message').style.display = 'block';
                }
            })
            .catch(error => console.error('Error checking frames:', error));
    }

    function loadFrames() {
        fetch('/get_frames')
            .then(response => response.json())
            .then(data => {
                frames = data.frames;
                document.getElementById('frameSlider').max = frames.length - 1;
                showFrame();
            })
            .catch(error => console.error('Error loading frames:', error));
    }

    function showFrame() {
        if (frames.length > 0) {
            const frameName = frames[currentFrameIndex];
            const imgElement = document.getElementById('frame');
            imgElement.src = `/frames/${frameName}`;
            imgElement.style.display = 'block';
            document.getElementById('frameSlider').value = currentFrameIndex;
        }
    }

    function playFrames() {
        if (!frameInterval) {
            frameInterval = setInterval(() => {
                currentFrameIndex = (currentFrameIndex + 1) % frames.length;
                showFrame();
            }, 1000 / 51); 
        }
    }

    function pauseFrames() {
        clearInterval(frameInterval);
        frameInterval = null;
    }

    function sliderChanged() {
        pauseFrames();
        currentFrameIndex = parseInt(document.getElementById('frameSlider').value);
        showFrame();
    }
</script>


</body>
</html>
